//
// Created by yeoman generator-makrina:angular-app 0.3.0 on 29/9/2016.
// Gentelella adapted theme
//

.login_content form div p a
  margin: 0

.profile_img i
  font-size: 44px
  padding-left: 7px

.user-profile i
  margin-right: 4px

.dropdown-usermenu button
  color: #5A738E
  background: transparent
  text-align: left
  font-size: 12px
  padding: 12px 20px
  border: none

  &:hover
    color: #262626
    background: #f5f5f5

  i
    font-size: 15px

ul.nav.child_menu
  display: block

.label-link
  padding: 7px 0 !important

td span
  line-height: normal


ga-panel
  .panel_toolbox > li.toolbar a
    padding: 5px
    color: #C5C7CB
    font-size: 14px
    position: relative
    display: inline-block

    &:hover
      background: #F5F7FA


ga-panel.table, ga-panel-table-form
  .x_content
    padding: 0 15px 15px

  .row
    padding: 8px 0
    line-height: 1.4
    border-bottom: 1px solid #ddd

  .head.row
    border-bottom: 2px solid #ddd
    font-weight: 700

  ga-panel-table-form-body
    .row .row
      border: none

    .row.accordion-toggle
      cursor: pointer

      &:hover
        background: #f5f5f5

$fixed-heights: 200, 320, 390
@each $height in $fixed-heights
  .fixed_height_#{$height} .x_panel
    height: #{$height}px

ga-paginate
  .dataTables_info
    width: auto
    margin-top: 5px

  label
    font-weight: 400

  select
    background: #fff

  .dataTables_paginate a
    background: #fafafa !important
    padding: 4px 6px !important

  .pagination
    margin: 0

    > li > a
      color: #2A3F54 !important

    > .active > a, > .active > a:hover
      color: #2A3F54
      font-weight: 700

ga-dashboard-graph-flot
  .report-range
    background: #fff
    cursor: pointer
    padding: 5px 10px
    border: 1px solid #ccc

  .canvas-wrapper
    width: 100%

  .canvas
    height: 260px
    width: 100%

  ga-progress .progress
    width: 76%
