<div class="row" ng-hide="!$ctrl.paginateCount || $ctrl.paginateSize >= $ctrl.paginateCount">
  <div class="pull-left">
    <div class="dataTables_info" role="status" aria-live="polite">
      <label for="paginate-{{ $ctrl.paginateId }}">
        {{ $ctrl.itemIdx + 1 }} to {{ $ctrl.itemUpperIdx() }} of {{ $ctrl.paginateCount }} |&nbsp;
      </label>
      <select id="paginate-{{ $ctrl.paginateId }}"
              aria-controls="datatable"
              class="input-xs"
              ng-change="$ctrl.rePaginate(true)"
              ng-model="$ctrl.paginateSize"
              ng-options="item for item in $ctrl.paginateSizes">
      </select>&nbsp;
      <span ng-transclude></span>
    </div>
  </div>
  <div class="pull-right">
    <div class="dataTables_paginate paging_simple_numbers">
      <ul class="pagination">
        <li class="paginate_button previous" ng-class="{disabled: $ctrl.paginatePage == 1}">
          <a href=""
             aria-controls="datatable"
             data-dt-idx="0"
             tabindex="0"
             ng-click="$ctrl.paginate(1)">First</a>
        </li>
        <li class="paginate_button" ng-class="{disabled: $ctrl.paginatePage == 1}">
          <a href=""
             aria-controls="datatable"
             data-dt-idx="0"
             tabindex="0"
             ng-click="$ctrl.paginate($ctrl.paginatePage - 1)">Previous</a>
        </li>
        <li class="paginate_button">
          <a href=""
             aria-controls="datatable"
             data-dt-idx="0"
             tabindex="0"
             ng-show="$ctrl.lowEllipsis > 1"
             ng-click="$ctrl.focus('left')">...</a>
        </li>
        <li class="paginate_button"
            ng-repeat="page in $ctrl.range($ctrl.pages)"
            ng-show="$ctrl.lowEllipsis <= $index + 1 && $index + 1 < $ctrl.lowEllipsis + $ctrl.paginateEllipsis"
            ng-class="{active: $ctrl.paginatePage == $index + 1}">
          <a href=""
             aria-controls="datatable"
             ng-click="$ctrl.paginate($index + 1)"
             data-dt-idx="{{ $index + 1 }}"
             tabindex="{{ $index + 1}}">
            {{ $index + 1 }}
          </a>
        </li>
        <li class="paginate_button">
          <a href=""
             aria-controls="datatable"
             data-dt-idx="0"
             tabindex="0"
             ng-show="$ctrl.lowEllipsis <= $ctrl.pages - $ctrl.paginateEllipsis"
             ng-click="$ctrl.focus('right')">...</a>
        </li>
        <li class="paginate_button" ng-class="{disabled: $ctrl.paginatePage == $ctrl.pages}">
          <a href=""
             aria-controls="datatable"
             data-dt-idx="{{ $ctrl.pages + 1 }}"
             tabindex="{{ $ctrl.pages + 1 }}"
             ng-click="$ctrl.paginate($ctrl.paginatePage + 1)">Next</a>
        </li>
        <li class="paginate_button next" ng-class="{disabled: $ctrl.paginatePage == $ctrl.pages}">
          <a href=""
             aria-controls="datatable"
             data-dt-idx="{{ $ctrl.pages + 1 }}"
             tabindex="{{ $ctrl.pages + 1 }}"
             ng-click="$ctrl.paginate($ctrl.paginateCount)">Last</a>
        </li>
      </ul>
    </div>
  </div>
</div>
